<div class="container">
  <div class="card">
    <div class="header">Add ToDo List</div>
    <div class="body">
      <div class="input">
        <input type="text" [(ngModel)]="inputValue">
      </div>
      <div class="button">
        <input type="button" value="AddList" [disabled]="!inputValue" (click)='addTodo()'>
      </div>
    </div>
  </div>
  <div class="todo-container">
    <div *ngFor="let eachTodo of toDoList;let i = index" (click)="toDoList.splice(i, 1)">{{eachTodo}}</div>
  </div>
</div>
<router-outlet></router-outlet>